<h1>Olvidé mi contraseña</h1>

Complete el formulario para reiniciar su contraseña:<br />
<br />

<% form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <%= submit_tag "Reiniciar la contraseña" %>
<% end %>