<h1>Showing Reason Fault</h1>

<p>
  <b>Name:</b>
  <%=h @reason_fault.name %>
</p>


<%= link_to 'Edit', edit_admin_reason_fault_path(@reason_fault) %> |
<%= link_to 'Back', admin_reason_faults_path %>