<h1>Showing Equipment Types</h1>

<p>
  <b>Name:</b>
  <%=h @equipment_type.name %>
</p>


<%= link_to 'Edit', edit_admin_equipment_type_path(@equipment_type) %> |
<%= link_to 'Back', admin_equipment_types_path %>